{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
<section id="contact" class="contact">
    <div class="container">

        <div class="section-title">
        <h2>Contact</h2>
        <p>Primary care personalized for you. Accepting new patients</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="ratio ratio-16x9">
                <!-- <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe> -->
                 

                
                <iframe class="embed-responsive-item" src="https://maps.google.com/maps?q=309%20E%20Farwell%20Road,%20Suite%20204,%20Spokane,%20WA%2099218&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        
        <div class="col-md-6 col-sm-12">
            <div class="ratio ratio-16x9">
                <img src="{% static 'img/Entry.jpg' %}" class="image-fluid image-thumbnail"></img>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row mt-5">

        <div class="col-lg-4">
            <div class="info">
            <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>309 E Farwell Road, Suite 204, Spokane, WA 99218</p>
            </div>

            <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>agolan@wandermere-medicine.com</p>
            </div>
            <a href="tel:509-474-9838">
                <div class="phone">
                    <i class="bi bi-phone"></i>
                    <h4>Call:</h4>
                    <p>+1(509) 474-9838</p>
                </div>
            </a>
        </div>

        </div>

        <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="{% url 'contact_email' %}" method="post" role="form" class="php-email-form">
                {% csrf_token %}
            <div class="row">
                <div class="col-md-6 form-group">
                    {{form.name}}
                <!-- <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required> -->
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
            </div>
            <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
            </div>
            <div class="form-group mt-3">
                {{form.message}}
                <!-- <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea> -->
            </div>
            <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

        </div>

        </div>

    </div>
</section>
{% endblock %}